// Typedefs in the form TYPE_PRECISION
typedef short int_16;
typedef int int_32;
typedef long int_64;
typedef ushort uint_16;
typedef uint uint_32;
typedef ulong uint_64;
typedef half float_16;
typedef float float_32;
typedef double float_64;

__kernel void store(__global {{b_type}}* buffer, {{c_type}} value) {
    buffer[get_global_id(0)] = value;
}
