<!doctype html>
<html>
<head>
    <title>graph</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Cytoscape -->
    <script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
    <!-- Dagre -->
    <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
    <!-- Dagre extension -->
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.3.0/cytoscape-dagre.js"></script>
    <!-- Cose extension -->
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cose-bilkent/1.3.6/cytoscape-cose-bilkent.js"></script>
    <!-- Expand extension -->
    <script src="cytoscape-expand-collapse.js"></script>
    <!-- Navigator extension -->
    <link href="cytoscape.js-navigator.css" rel="stylesheet" type="text/css" />
    <script src="cytoscape-navigator.js"></script>
    <!-- Qtip extension -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.js"></script>
    <script src="cytoscape-qtip.js"></script>
    <style>
        body {
            font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
            font-size: 14px;
        }

        #cy {
            width: 100%;
            height: 90%;
            position: absolute;
            top: 9%;
            bottom: 1%;
            left: 0px;
        }

        h1 {
            opacity: 0.5;
            font-size: 1em;
            font-weight: bold;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            var cy = window.cy = cytoscape({
                container: document.getElementById('cy'),
                style: cytoscape.stylesheet()
                    .selector('node')
                    .css({
                        'shape': 'data(shape)',
                        'content': 'data(label)',
                        'border-width': 2,
                        'border-color': '#000',
                        'text-valign': 'center',
                        'width': 'label',
                        'height': 'label',
                        'padding-left': 6,
                        'padding-right': 6,
                        'padding-top': 5,
                        'padding-bottom': 5
                    })
                    .selector('edge')
                    .css({
                        'target-arrow-shape': 'triangle',
                        'width': 2,
                        'line-color': 'darkorange',
                        'target-arrow-color': '#000',
                        'curve-style': 'bezier'
                    })
                    .selector(':parent')
                    .css({
                        'border-color': '#111',
                        'background-opacity': 0.6,
                        'text-valign': 'top'
                    })
                    .selector('.highlighted')
                    .css({
                        'background-color': '#61bffc',
                        'line-color': '#61bffc',
                        'target-arrow-color': '#61bffc',
                        'transition-property': 'background-color, line-color, target-arrow-color',
                        'transition-duration': '0.5s'
                    }),
                layout: { name: 'dagre' },
                elements: [
// Nodes
//                   {data: {
//                        id: 'n{ node.id }',
//                        label: '{node.op.get_meta().name[{ node.id }]',
//                        parent: '',
//                        shape: 'ellipse',
//                        expanded: 'false',
//                        group: 'false',
//                        Name: '{ node.name }',
//                        Data: '{ node.data_type }',
//                        Shape: '{ node.shape }',
//                        Children: '{ node.children }'
//                    }},
                    {% for node in nodes %}
                    {data: {
                        {{ node }}
                    }},
                    {% endfor %}
                    // Edges
                    {% for edge in edges %}
                    {data: {
                        id: 'e_{{ edge.0 }}_{{ edge.1 }}',
                        label: '{{ edge.2 }}',
                        source: 'n{{ edge.0 }}',
                        target: 'n{{ edge.1 }}'
                    }},
                    {% endfor %}
            ]});
            cy.elements().filter('node[group = "false"]').qtip({
                content: function(){
                    return "Name: " + this.data('Name') + "<br/>" +
                        "Data: " + this.data('Data') + "<br/>" +
                        "Shape: " + this.data('Shape') + "<br/>" +
                        "Parents: " + this.data('Parents') + "<br/>" +
                        "Children: " + this.data('Children');
                },
                position: {
                    my: 'top center',
                    at: 'bottom center'
                },
                style: {
                    classes: 'qtip-bootstrap',
                    tip: {
                        width: 16,
                        height: 8
                    }
                }
            });

            cy.expandCollapse({
                fisheye: true,
                animate: true,
                undoable: false
            });

            cy.nodes().on("afterExpand", function(event) {
                if(this.data('expanded') == 'false'){
                    this.data('expanded', 'true');
                    node.children().layout(
                        {
                            name: "breadthfirst",
                            animate: true,
                            randomize: false,
                            fit: false
                        }
                    );
                }
            });

            cy.navigator({});

            document.getElementById("collapseRecursively").addEventListener("click", function () {
                cy.$(":selected").collapseRecursively();
            });

            document.getElementById("expandRecursively").addEventListener("click", function () {
                cy.$(":selected").expandRecursively();
            });

            document.getElementById("collapseAll").addEventListener("click", function () {
                cy.collapseAll();
            });

            document.getElementById("expandAll").addEventListener("click", function () {
                cy.expandAll();
            });

            //cy.nodes(":parent").orphans().collapseRecursively();
        });
    </script>
</head>
<body >
<h1>graph</h1>
<b id="collapseAll" style="cursor: pointer;color: darkred">Collapse all</b> / <b id="expandAll" style="cursor: pointer; color: darkslateblue">Expand all</b> <br/>
<b id="collapseRecursively" style="cursor: pointer; color: darksalmon">Collapse selected recursively</b> / <b id="expandRecursively" style="cursor: pointer; color: darkmagenta">Expand selected recursively</b>
<div id="cy"></div>
</body>
</html>
